@model FoRent.Models.Image

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LivingRoom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LivingRoom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiningRoom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiningRoom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BedRoom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BedRoom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ketchen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ketchen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
