@model FoRent.Models.OrderPayment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OrderPayment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CC_Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CC_Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CC_Exp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CC_Exp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CC_CVV)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CC_CVV)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderPaymentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
