@model IEnumerable<FoRent.Models.OrderPayment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CC_Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CC_Exp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CC_CVV)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CC_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CC_Exp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CC_CVV)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderPaymentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderPaymentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderPaymentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
