@model FoRent.Models.Apartment


@{
    ViewData["Title"] = "Create";
}
    <h2>הכנס את מקום הארוח שלך</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="PriceAdult" class="control-label"></label>
                <input asp-for="PriceAdult" class="form-control" />
                <span asp-validation-for="PriceAdult" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PriceChild" class="control-label"></label>
                <input asp-for="PriceChild" class="form-control" />
                <span asp-validation-for="PriceChild" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Amenities.NumOfRooms" class="control-label"></label>
                <input asp-for="Amenities.NumOfRooms" class="form-control" />
                <span asp-validation-for="Amenities.NumOfRooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amenities.NumOfPersons" class="control-label"></label>
                <input asp-for="Amenities.NumOfPersons" class="form-control" />
                <span asp-validation-for="Amenities.NumOfPersons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amenities.Description" class="control-label"></label>
                <input asp-for="Amenities.Description" class="form-control" />
                <span asp-validation-for="Amenities.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Amenities.Parking" /> @Html.DisplayNameFor(model => model.Amenities.Parking)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Amenities.Plata" /> @Html.DisplayNameFor(model => model.Amenities.Plata)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Amenities.HotWater" /> @Html.DisplayNameFor(model => model.Amenities.HotWater)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Amenities.Wifi" /> @Html.DisplayNameFor(model => model.Amenities.Wifi)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Amenities.Accessibility" /> @Html.DisplayNameFor(model => model.Amenities.Accessibility)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Amenities.AirConditioning" /> @Html.DisplayNameFor(model => model.Amenities.AirConditioning)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Amenities.Balcony" /> @Html.DisplayNameFor(model => model.Amenities.Balcony)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Amenities.Comment" class="control-label"></label>
                <input asp-for="Amenities.Comment" class="form-control" />
                <span asp-validation-for="Amenities.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="הוסף את מקום הארוח שלך" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

