@model FoRent.Models.Apartment


@{ 
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://www.govmap.gov.il/govmap/api/govmap.api.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            govmap.createMap('map',
                {
                    onLoad: function showExample() {
                        govmap.zoomToXY({ x: 176085, y: 657600, level: 8
                            , marker: true });
                    },
               
                    token: 'c908bf09-361b-41ab-91d2-07f1ab7eecef',
                    layers: ["GASSTATIONS", "PARCEL_HOKS", "KSHTANN_ASSETS", "bus_stops", "PARCEL_ALL"],
                    showXY: false,
                    center: { x: 34.8331716, y: 32.086312  }, 
                    level: 6,
                    bgButton: true,
                    identifyOnClick: true,
                    isEmbeddedToggle: false,
                    background: "3",
                    layersMode: 1,
                    zoomButtons: true
                   
                });
          
        });
      
      

   
    </script>
</head>
<body>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <h2>Details</h2>
    <!-- Navbar (sit on top) -->
    <section class="w3-top">
        <section class="w3-bar w3-white w3-card" id="myNavbar">
            <a href="#home" class="w3-bar-item w3-button w3-wide">LOGO</a>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small">

                <a asp-controller="Home" asp-action="Index" class="w3-bar-item w3-button"><i class="fa fa-fw fa-home"></i> דף הבית</a>
                <a href="#locate" class="w3-bar-item w3-button"><i class="fa fa-user"></i> מיקום</a>
                <a href="#facilities" class="w3-bar-item w3-button"><i class="fa fa-user"></i> מתקנים</a>
                <a href="#moreinfo" class="w3-bar-item w3-button"><i class="fa fa-th"></i> מידע נוסף</a>
                <a href="#policy" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> מדיניות</a>
                <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> צור קשר</a>
            </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->
            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
        </section>

    </section>



    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-light-grey w3-collapse w3-top" style="z-index:3;width:260px" id="mySidebar">
        <div class="w3-container w3-display-container w3-padding-16">
            <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-transparent w3-display-topright"></i>
            <h3>השכרה</h3>
            <h3>החל מ-$99</h3>
            <h6>עבור לילה</h6>
            <hr>
            <form action="/action_page.php" target="_blank">
                <p><label><i class="fa fa-calendar-check-o"></i>צק אין</label></p>
                <input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="צק אין" required>
                <p><label><i class="fa fa-calendar-o"></i> צק אאוט</label></p>
                <input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="צק אאוט" required>
                <p><label><i class="fa fa-male"></i> מבוגרים</label></p>
                <input class="w3-input w3-border" type="number" value="1" name="מבוגרים" min="1" max="6">
                <p><label><i class="fa fa-child"></i> ילדים</label></p>
                <input class="w3-input w3-border" type="number" value="0" name="ילדים" min="0" max="6">
                <p><button class="w3-button w3-block w3-black w3-left-align" type="submit"><i class="fa fa-search w3-margin-right"></i> בדוק זמינות</button></p>
            </form>
        </div>
        <div class="w3-bar-block">
            <a href="#apartment" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-building"></i> דירה</a>
            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-16" onclick="document.getElementById('subscribe').style.display='block'"><i class="fa fa-rss"></i> הירשם</a>
            <a href="#contact" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-envelope"></i>צור קשר</a>
        </div>
    </nav>

  
    <!-- Top menu on small screens -->
    <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
        <span class="w3-bar-item">השכרה</span>
        <a href="javascript:void(0)" class="w3-right w3-bar-item w3-button" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main w3-white" style="margin-left:260px">

        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:80px"></div>

        <!-- Slideshow Header -->
        <div class="w3-container" id="apartment">
            <h2 class="w3-text-black" style="text-align:center">הדירה</h2>
            <div class="w3-display-container mySlides">
                <img src="~/images/House12.jpg" style="width:100%;margin-bottom:-6px">
                <div class="w3-display-bottomleft w3-container w3-black">
                    
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="~/images/House5.jpg" style="width:100%;margin-bottom:-6px">
                <div class="w3-display-bottomleft w3-container w3-black">
               
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="~/images/House17.jpg" style="width:100%;margin-bottom:-6px">
                <div class="w3-display-bottomleft w3-container w3-black">
                    
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="~/images/House16.jpg" style="width:100%;margin-bottom:-6px">
                <div class="w3-display-bottomleft w3-container w3-black">
                    
                </div>
            </div>
           
        </div>
        <div class="w3-row-padding w3-section">
            <div class="w3-col s3">
                <img class="demo w3-opacity w3-hover-opacity-off" src="~/images/House12.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(1)" title="Living room">
            </div>
            <div class="w3-col s3">
                <img class="demo w3-opacity w3-hover-opacity-off" src="~/images/House5.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(2)" title="Dining room">
            </div>
            <div class="w3-col s3">
                <img class="demo w3-opacity w3-hover-opacity-off" src="~/images/House17.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(3)" title="Bedroom">
            </div>
            <div class="w3-col s3">
                <img class="demo w3-opacity w3-hover-opacity-off" src="~/images/House16.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(4)" title="Second Living Room">
            </div>
        </div>

        <div class="w3-container">

            <div class="w3-row w3-large">
                <div>
                    <div class="w3-col s6">
                        <p>  @Html.DisplayFor(model => model.Amenities.NumOfPersons) :מקסימום אנשים</p>
                        <p>  @Html.DisplayFor(model => model.Amenities.NumOfRooms)  :חדרי שינה</p>

                    </div>
                    <div class="w3-col s6">
                        <p><i class="fa fa-fw fa-clock-o" type="time"></i>@Html.DisplayFor(model => model.Policy.Checkin)  :כניסה לדירה מהשעה   </p>
                        <p><i class="fa fa-fw fa-clock-o"></i>@Html.DisplayFor(model => model.Policy.Checkout)  :פינוי הדירה בשעה </p>
                        <br />
                        <br />

                    </div>

                </div>

                <div id="locate">

                    <h4><strong>מיקום</strong></h4>
                    <div style="float:left">
                        <div id="map" style="width:400px;height:400px"></div>

                    </div>

                </div>

                <br />

                <div class="w3-row w3-large" style="padding:12px 16px" id="facilities">
                    <hr />
                    <h4><strong>מתקנים</strong></h4>
                    <div class="w3-col s6">

                        <p><i class="fa fa-fw fa-university"></i> מרפסת</p>
                        <p><i class="fa fa-fw fa-wifi"></i> wifi</p>
                        <p><i class="fa fa-fw fa-car"></i>חניה</p>
                    </div>
                    <div class="w3-col s6">
                        <p><i class="fa fa-fw fa-cutlery"></i> מטבח</p>
                        <p><i class="fa fa-fw fa-thermometer"></i>מיזוג</p>
                        <p><i class="fa fa-fw fa-wheelchair"></i>נגישות</p>
                    </div>
                    <div class="w3-col s6">
                        <p><i class="fa fa-fw fa-bolt"></i>מיחם</p>
                    </div>
                    <div class="w3-col s6">
                        <p><i class="fa fa-fw fa-window-maximize"></i> פלטה</p>
                    </div>
                </div>
                <hr />
            </div>
            <br />


            <div class="w3-row w3-large" style="padding:12px 16px" id="moreinfo">
                <h4><strong>מידע נוסף</strong></h4>
                <p>אנו משאירים לכם דירה נקיה אנא השתדלו להחזירה במצב תקין ככל הניתן..</p>
                <p>כרטיסי אשראי מתקבלים: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
                <hr />
            </div>
            <br />


            <div class="w3-row w3-large" style="padding:12px 16px" id="policy">
                <h4><strong>מדיניות</strong></h4>
                <p>מדיניות הביטול והתשלום המוקדם משתנה לפי סוג מקום האירוח. כאשר אתם בוחרים, אנא בדקו את התנאים החלים על כל אחת מהאפשרויות. </p>
                <p>הירשם לקבלת עדכונים על תאריכים זמינים והצעות מיוחדות.</p>
                <p><button class="w3-button w3-black w3-third" onclick="document.getElementById('subscribe').style.display='block'">הירשם</button></p>
            </div>
            <hr />
            <br />

            <!-- Contact -->
            <div class="w3-container" id="contact">
                <h2>צור קשר</h2>
                <i class="fa fa-map-marker" style="width:30px"></i>ירושלים<br>
                <i class="fa fa-phone" style="width:30px"></i> טל': +972585492736<br>
                <i class="fa fa-envelope" style="width:30px"> </i>  mail@mail.com אימייל: <br>
                <p>יש לך שאלות? קדימה! שאל:</p>
                <form action="/action_page.php" target="_blank">
                    <p><input class="w3-input w3-border" type="text" placeholder="שם" required name="Name"></p>
                    <p><input class="w3-input w3-border" type="text" placeholder="אימייל" required name="Email"></p>
                    <p><input class="w3-input w3-border" type="text" placeholder="הודעה" required name="Message"></p>
                    <button type="submit" class="w3-button w3-black w3-third">שלח הודעה</button>
                </form>
            </div>
         </div>
    </div>
</body>

<footer class="w3-container w3-padding-16" style="margin-top:32px">

    <!-- End page content -->
    <!-- Subscribe Modal -->
    <div id="subscribe" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom w3-padding-large">
            <div class="w3-container w3-white w3-center">
                <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-button w3-xlarge w3-right w3-transparent"></i>
                <h2 class="w3-wide">SUBSCRIBE</h2>
                <p>Join our mailing list to receive updates on available dates and special offers.</p>
                <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
                <button type="button" class="w3-button w3-padding-large w3-black w3-margin-bottom" onclick="document.getElementById('subscribe').style.display='none'">הירשם</button>
            </div>
        </div>
    </div>

    <script>
        // Script to open and close sidebar when on tablets and phones
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }

        // Slideshow Apartment Images
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-opacity-off";
        }
    </script>

    @*< script  src = "https://unpkg.com/ionicons@4.5.5/dist/ionicons.js" ></ script > //נסיון*@
</footer>
        <!-- Footer -->
        <footer class="w3-center w3-black w3-padding-64">
            <a href="#apartment" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>לראש העמוד</a>


            <div>
                <h4>Apartment</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.PriceAdult)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PriceAdult)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PriceChild)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PriceChild)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
         </footer>
</html>
