@model IEnumerable<FoRent.Models.Apartment>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body id="spacial-body">
    <section id="container">

        <div id="navi">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/House5.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/House8.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/House12.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/House13.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/House15.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/House16.jpg" class="d-block w-100">
                    </div>
                </div>
            </div>
        </div>
        <form id="infoi">
            <span>איפה</span>
            <br />
            <input type="text" placeholder="כתובת" />
            <br />
            <span >צ'אק אין</span>
            <span>צ'אק אאוט </span>
            <br />
            <input type="date">

            <input type="date">


            <br />
            <button>חיפוש</button>
        </form>
        <div class="button-location">
            <button type="button" class="btn btn-light" ,>
                <a class="button-home" asp-action="Create">הוסף את פרטי הדירה שלך</a>
            </button>

            <button type="button" class="btn btn-light" ,>
                <a class="button-home" asp-action="Create">כניסה לחשבון</a>
            </button>

            <button type="button" class="btn btn-light" ,>
                <a class="button-home" asp-action="Create">הרשמו</a>
            </button>
        </div>
    </section>

    <section>


        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PriceAdult)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PriceChild)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PriceAdult)
                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => item.PriceChild)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>