
@model IList<FoRent.Models.Apartment>

@{
    ViewData["Title"] = "Index";

}
<br />
<br />
<br />
<button class="w3-button w3-block w3-black w3-margin-bottom " id="submitButton">רוצה לדעת מה מזג האויר באיזורים המבוקשים?</button>
<table class="table table-dark" id="weatherTable"></table>
<br />
<br />
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>



        <form asp-controller="Apartments" asp-action="Sort" >
            @if (Model != null)
            {
                for (var i = 0; i < Model.Count(); i++)
                {
                    <input type="hidden" value="@Model[i].Id" name="apartmentsId" />
                }
            }

            <input type="hidden" value="@ViewBag.NumOfAdult" name="adult" />
            <input type="hidden" value="@ViewBag.NumOfChild" name="child" />
            <button type="submit" class="btn btn-light ">מיין מהמחיר הנמוך לגבוה</button>
        </form>
<br />
<br />
        <form asp-controller="Apartments" asp-action="Sort1" >
            @if (Model != null)
            {
                for (var i = 0; i < Model.Count(); i++)
                {
                    <input type="hidden" value="@Model[i].Id" name="apartmentsId"  />
                }
            }

            <input type="hidden" value="@ViewBag.NumOfAdult" name="adult" />
            <input type="hidden" value="@ViewBag.NumOfChild" name="child" />
            <button type="submit" class="btn btn-light ">מיין מהמחיר הגבוה לנמוך</button>
        </form>


    <br />
    <br />



    <table>
        <tbody>
            @foreach (var item in Model)
            {

                <div class="card-columns">

                    <div class="w3-third w3-container">
                        <img src="@Html.DisplayFor(modelItem => item.Image.BedRoom)" alt="Norway" style="width:100%">

                        <h3>@Html.DisplayFor(modelItem => item.Amenities.Description)</h3>
                        @{ var calculate = item.PriceAdult * ViewBag.NumOfAdult + item.PriceChild * ViewBag.NumOfChild;}
                        <h6 class="w3-opacity"> @calculate<span> ש"ח</span></h6>
                        <p>מספר חדרים: @Html.DisplayFor(modelItem => item.Amenities.NumOfRooms)</p>
                        <p>15m<sup>2</sup></p>
                        <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i></p>
                        <button class="w3-button w3-block w3-black w3-margin-bottom "><a asp-action="Details" asp-route-id="@item.Id">בחר דירה</a></button>

                    </div>
                </div>


            }
            <br />
        </tbody>
    </table>
    @section Scripts {

        <script src="~/js/index.js"></script>
    }

