@model IEnumerable<FoRent.Models.Apartment>


@{
    ViewData["Title"] = "Index";

}




<!DOCTYPE html>
<html>
@*<!-- Navbar (sit on top) -->
    <section class="w3-top">
        <section class="w3-bar w3-white w3-card" id="myNavbar">
            <a href="#home" class="w3-bar-item w3-button w3-wide">LOGO</a>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small">

                <a asp-controller="Home" asp-action="Index" class="w3-bar-item w3-button"><i class="fa fa-fw fa-home"></i> דף הבית</a>
                <a href="#locate" class="w3-bar-item w3-button"><i class="fa fa-user"></i> מיקום</a>
                <a href="#facilities" class="w3-bar-item w3-button"><i class="fa fa-user"></i> מתקנים</a>
                <a href="#moreinfo" class="w3-bar-item w3-button"><i class="fa fa-th"></i> מידע נוסף</a>
                <a href="#policy" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> מדיניות</a>
                <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> צור קשר</a>
            </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->
            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
        </section>

    </section>*@




<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body dir="rtl" class="w3-light-grey">
  
        
            <button id="submitButton">רוצה לדעת מה מזג האויר באיזורים המבוקשים?</button>
            <table id="weatherTable"></table>
   








    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script>
        function CreateWeatherJson(json) {


        }

        $("#submitButton").click(function (e) {
            $.ajax({
                type: "POST",
                url: "http://api.openweathermap.org/data/2.5/group?id=281184,293396,8199378,294800,294952&appid=de6d52c2ebb7b1398526329875a49c57&units=metric",
                dataType: "json",
                success: function (result, status, xhr) {
                    var newJson = "";
                    for (i = 0; i < result.list.length; i++) {
                        cityId = result.list[i].id;
                        cityName = result.list[i].name;
                        temp = result.list[i].main.temp
                        pressure = result.list[i].main.pressure
                        humidity = result.list[i].main.humidity
                        tempmin = result.list[i].main.temp_min
                        tempmax = result.list[i].main.temp_max

                        $('#weatherTable').append('<tr><td>' + cityName + '</td><td>' + temp + '</td></tr>');
                    }
                }
            });
        });
    </script>

    @*Page content
        <div class="w3-content" style="max-width:1532px;">

            <div class="w3-container w3-margin-top" id="rooms">
            </div>

            <div class="w3-row-padding">
                <div class="w3-col m2">
                    <label><i class="fa fa-search"></i> search</label>
                    <button class="w3-button w3-block w3-black">חיפוש</button>
                </div>

                <div class="w3-col m3">
                    <label><i class="fa fa-calendar-o"></i> צק אאוט</label>
                    <input class="w3-input w3-border" type="date" placeholder="DD MM YYYY">
                </div>
                <div class="w3-col m3">
                    <label><i class="fa fa-calendar-o"></i> צק אין</label>
                    <input class="w3-input w3-border" type="date" placeholder="DD MM YYYY">
                </div>
                <div class="w3-col m2">
                    <label><i class="fa fa-child"></i> ילדים</label>
                    <input class="w3-input w3-border" type="number" placeholder="0">
                </div>
                <div class="w3-col m2">
                    <label><i class="fa fa-male"></i> מבוגרים</label>
                    <input class="w3-input w3-border" type="number" placeholder="1">
                </div>

            </div>

            </p>*@

    <a asp-action="Create">הוסף את מקום הארוח שלך</a>
    <div class="w3-col m2">
        <label><i class="fa fa-search"></i>מיין </label>
        <select>
            <option value="order">מהנמוך לגבוה</option>
            <option value="order">מהגבוה לנמוך</option>


        </select>
    </div>
    <br />
    <br />

    @*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PriceAdult)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceChild)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amenities.NumOfRooms)
                </th>
                <th></th>
            </tr>
        </thead>*@
    <table>
        <tbody>
            @foreach (var item in Model)
            {

                <div class="card-columns">

                    <div class="w3-third w3-container">
                        <img src="@Html.DisplayFor(modelItem => item.Image.BedRoom)" alt="Norway" style="width:100%">

                        <h3>@Html.DisplayFor(modelItem => item.Amenities.Description)</h3>
                        @{ var calculate = item.PriceAdult * ViewBag.NumOfAdult + item.PriceChild * ViewBag.NumOfChild;}
                        <h6 class="w3-opacity"> @calculate<span> ש"ח</span></h6>
                        <p>מספר חדרים: @Html.DisplayFor(modelItem => item.Amenities.NumOfRooms)</p>
                        <p>15m<sup>2</sup></p>
                        <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i></p>
                        <button class="w3-button w3-block w3-black w3-margin-bottom "><a asp-action="Details" asp-route-id="@item.Id">בחר דירה</a></button>



                        <p>
                    </div>
                </div>


            }
            <br />
        </tbody>
    </table>
</body>

</html>
